node_modules/
dist/
.idea/
src/tests/
tmp/
temp/

#Exclue from ./src/config
src/config/environments.ts
src/config/environments.dev.ts
src/config/environments.prod.ts
src/config/ormconfig.ts
src/config/ormconfig.ts

ormconfig.json.bak
ormconfig.json.bak
ormconfig.json.bak
package-lock.json
