node_modules/
dist/
.idea/
src/tests/
tmp/
temp/

#Exclue from ./src/config
src/config/environments.ts
src/config/environments.dev.ts
src/config/environments.prod.ts


ormconfig.json
package-lock.json
